<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>CPE問題題庫</h1>
    <p>收集了許多CPE的相關題目</p>
</div>
</body>
<div class="container">
      <h3>CPE問題整理</h3>
        <table class="table" border="1">
          <thead>
            <tr>
                <th><b>No.</b></th>
                <th>題目</th>
                <th>遞交答案次數</th>
                <th>遞交答案正確比例</th>
                <th>參與人數</th>
                <th>解決問題人數比例</th>
                <th>下載PDF</th>
            </tr>
          </thead>
          <tbody>
            {% for topic in topics %}
            <tr>
                <td><b>{{ topic.tittle_num }}</b></td>
                <td>{{ topic.tittle }}</td>
                <td>{{ topic.submissions_solving_count }}</td>
                <td>{{ topic.submissions_solving }}</td>
                <td>{{ topic.users_solving_count }}</td>
                <td>{{ topic.users_solving }}</td>
                <td><li><a href="{{ topic.pdf_link }}">PDF檔下載</a></li></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p>
        {#   topics.paginator.page_range 这个函数返回包含一个所有页码数的 range 对象 #}
        {#   即 range(1, topics.paginator.num_pages + 1) #}
        {% for page_number in topics.paginator.page_range %}
            {% ifequal page_number  topics.number %}
                {{ page_number }}
            {% else %}
                <a href="?page={{ page_number }}">{{ page_number }}</a>
            {% endifequal %}
        {% endfor %}
        </p>
        <!-- 另一种分页显示方式 -->
        <p>
        {% if topics.has_previous %}
        <a href="?page={{ topics.previous_page_number }}">Previous</a>
        {% endif %}
        {# topics.paginator.number_pages 返回总页数 #}
        Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
        {% if topics.has_next %}
        <a href="?page={{ topics.next_page_number }}">Next</a>
        {% endif %}
        </p>
  </div>
</html>
